
<div class="main-container">
  <header class="header-6">
    <img src="https://icon-library.net/images/white-shopping-cart-icon/white-shopping-cart-icon-7.jpg">
    <div class="branding" >
    
      <h1>ShopBridge</h1>
    </div>
  </header>

  <div class="content-container">
    <div
      class="content-area"
      style='background-image: url("https://www.muralswallpaper.com/app/uploads/clean-white-brick-wall-textures-plain-820x532.jpg");'
    >
      <style>
        body {
        }
      </style>
      <app-products></app-products>
    </div>
  </div>
</div>
